[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
selenium = "*"
responder = "*"
pyyaml = "*"
line-bot-sdk = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.9"
